<ion-header>
  <ion-toolbar class="header-bg">
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button menu="navHome"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Admission
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-fluid">
    <form #form="ngForm" (ngSubmit)="login()">
      <ion-grid>
        <ion-row color="primary" justify-content-left>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Sam No</ion-label>
            <ion-input class="form-control" name="sam_no" type="text" placeholder="Sam No" [(ngModel)]="sam_no" required></ion-input>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Registration No</ion-label>
            <ion-input class="form-control" name="reg_no" type="text" placeholder="Registration No" [(ngModel)]="reg_no" required></ion-input>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Page No</ion-label>
            <ion-input class="form-control" name="page_no" type="text" placeholder="Page No" [(ngModel)]="page_no" required></ion-input>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Child Name</ion-label>
            <ion-input class="form-control" name="child_name" type="text" placeholder="Child Name" [(ngModel)]="child_name" required></ion-input>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Date of Birth</ion-label>
            <ion-datetime #date displayFormat="MM/DD/YYYY" class="form-control" id="birthDate" name="birthdate" [(ngModel)]="birthdate" (ionChange)="CalculateAge()"></ion-datetime>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Gender</ion-label>
            <ion-select interface="action-sheet" class="form-control">
              <ion-select-option value="0">Male</ion-select-option>
              <ion-select-option value="1">Female</ion-select-option>
            </ion-select>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-xs="6">
            <ion-label>Caste</ion-label>
            <ion-select interface="action-sheet" class="form-control">
              <ion-select-option value="0">ST</ion-select-option>
              <ion-select-option value="1">SC</ion-select-option>
              <ion-select-option value="2">OBC</ion-select-option>
              <ion-select-option value="3">General</ion-select-option>
              <ion-select-option value="4">Other</ion-select-option>
            </ion-select>
          </ion-col>
          
        </ion-row>
        <ion-row>
          <ion-button size="small" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
      </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
