.header{
    height:30%;
}
.container-fluid {
    top: 30%;
    width: 100%;
    position:absolute;
}
ion-item{
    --background: #88878b;
    --color: #fff;
    margin-bottom: 5px;
}
ion-button{
    --background: #062f77;
}
.forget-link {
    margin: auto; 
    width: 100%; 
    text-align: center;
}