body{
    background-color:#f3f2f4;
}
.header{
    width:105%;
    height:35%;
    left:-3%;
    position:absolute;
    background-image: linear-gradient(#8459f9, #4c3196);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.footer{
    width:105%;
    height:15%;
    left:-3%;
    position:absolute;
    background-image: linear-gradient(#8459f9, #4c3196);
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top-left-radius: 50% 20%;
    border-top-right-radius: 50% 20%;
    bottom: 0;
}
.container{
    width:60vw;
    height:80vh;
    background-color:white;
    border-radius:10px;
    position:absolute;
    top:50%;
    overflow:hidden;
    left:50%;
    transform:translate(-50%,-50%);
}
.img-jhlogo {
    top:8%;
    left:30%;
    width:40vw;
    position:absolute;
}
.lbl-logo-black {
    color: #fff;
    margin: auto; 
    width: 100%; 
    text-align: center;
    bottom: 15%;
    position:absolute;
    font-size: 8vw;
}
.container-fluid {
    top: 35%;
    width: 100%;
    position:absolute;
}
ion-item{
    --background: #8459f9;
    --color: #fff;
    margin-bottom: 5px;
}
ion-button{
    --background: #062f77;
}
.forget-link {
    margin: auto; 
    width: 100%; 
    text-align: center;
}