<ion-header>
  <ion-toolbar primary>
    <ion-buttons slot="start" menuToggle>
      <ion-menu-button menu="navHome"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>  
    <div class="card card-green col-md-12">
      <p class="card-question">Total Admission</p>
      <p style="text-align:center; margin-bottom: 0;"><b>19</b></p>
      <div class="card-separator"></div>
      <a href="#">See More Details</a>
    </div>
    <div class="card card-green col-md-12">
      <p class="card-question">Today's Follow Up</p>
      <p style="text-align:center; margin-bottom: 0;"><b>19</b></p>
      <div class="card-separator"></div>
      <a href="#">See More Details</a>
    </div>
  </div> 
</ion-content>
